  html,
  body {
    margin: 0;
  }
  
  body {
    display: grid;
    grid-template-columns: minmax(300px, 1200px);
    justify-content: center;
  
    background-image: url('https://img.freepik.com/premium-photo/neon-landscape-with-mountains-sun_654523-32.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: sans-serif;
  }

  /* Customize the label (the container) */
.container {
  background-color: rgb(50, 32, 210);
  display:block;
  position: relative;
  width: 180px;
  left:-220px; 
  top:650px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #1209c7;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #065a9f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


  img {
    max-width: 100%;
  }
  
  h1,
  h2 {
    outline-style:ridge;
    outline-color:crimson;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size:xx-large;
    color:rgb(251, 222, 222)
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 375px);
    gap: 15px;
    justify-content: center;
    justify-items: center;
  
    padding: 2rem 0;
    margin-bottom: 2rem;
  }
  
  .card {
    width: 100%;
    justify-self: center;
    background-color: rgb(87, 97, 203);
  
    border: 1px solid #252525;
    border-radius: 8px;
  
    cursor: pointer;
    transition: all 300ms;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: rgba(228, 6, 6, 0.941) 0px 5px 15px;
  }
  
  .card--text {
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 5px;
  }
  
  .card--img {
    display: block;
    margin: 0 auto;
  
    box-shadow: rgba(174, 10, 10, 0.524) 0px 2px 8px;
  }
  
  /* .Login {
    background-color: #d4d4e1;
    border: solid rgb(55, 0, 255);
    border-width: 110 3px 3px 110;
    text-align: center;
    margin: 0.2rem;
    padding: 1rem;
    border-radius: 50px;
    } */

  *{
      box-sizing:border-box;
  }
  section{
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
  }

  .image{
    position: relative;
    width: 50%;
    height: 100%;
  }

  .image:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:linear-gradient(190deg,#ff6600,#badbe2);
    z-index: 1;
    mix-blend-mode: screen;
    opacity: 5%;
  }

  .image img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .form{
    width: 50%;
  }

  .form h3{
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-bottom: 5px solid #ff6600;
    display: inline-block;
    color: #001c2a;
  }

  .input {
    margin-bottom: 20px;

  }
  .input span{
    font-size: 26px;
    margin-bottom: 5px;
    color: #001c2a;
    display: inline-block;
    letter-spacing: 1px;
  }
  .input input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    color: #001c2a;
    background:transparent;
    border-radius: 30px;
    border:1px solid #001c2a;
  }

  #submit-button{
    color: white;
    outline:none;
    cursor: pointer;
    border: none;
    font-weight: 500;
    background-color: #ff6600;
  }

  #submit-button:hover{
    background-color: #cb5201;
  }
  #submit-button:active{
      transform: scale(0.9);
      transition: 0.2s;
  }

  .remember-me{
    margin-bottom: 20px;
    color:#001c2a;
    font-weight: 400;
  }
  .input p{
    color:#001c2a;
  }
  .input p a{
    color:#ff6600;
  }

  .form h3{
    color:#001c2a;
    text-align: center;
    margin: 50px 0 10px;
    font-weight: 500;
  }

  .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media li img{
  width: 50px;
  height: 50px;
  transform: scale(0.5);
  filter: invert(1);
  }
  .social-media li{
    list-style: none;
    justify-content: center;
    align-self: center;
    background-color: #001c2a;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 7px;
    width: 50px;
    height: 50px;
    }

    .social-media li:hover{
      background-color: #ff6600;
    }
    .social-media li:active{
      background-color: #ff6600;
      transform: scale(0.9);
    }